{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- item info -->
    <div class="d-flex justify-content-center bg-white py-5">
        <div class="rounded shadow-lg w-100 mx-auto p-4" style="max-width: 750px">
            <div class="container my-3">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h2 class="fw-bold my-4">{% block title %}Редактирование объявления{% endblock %}</h2>
                    <!--name-->
                    <div class="row mt-4">
                        <div class="col-sm-3">
                            <label for="{{ form.name.id_for_label }}" class="form-label text-muted">Название</label>
                        </div>
                        <div class="col-sm-9">
                            {{ form.name }}
                        </div>
                    </div>
                    <!--description-->
                    <div class="row mt-4">
                        <div class="col-sm-3">
                            <label for="{{ form.description.id_for_label }}" class="form-label text-muted">Описание</label>
                        </div>
                        <div class="col-sm-9">
                            {{ form.description }}
                        </div>
                    </div>
                    <!--price-->
                    <div class="row mt-4">
                        <div class="col-sm-3">
                            <label for="{{ form.description.id_for_label }}" class="form-label text-muted">Цена</label>
                        </div>
                        <div class="col-sm-5">
                            <div class="input-group d-flex w-100">
                                {{ form.price }}
                                <span class="input-group-text">руб.</span>
                            </div>
                        </div>
                    </div>
                    <!--city-->
                    <div class="row mt-4">
                        <div class="col-sm-3">
                            <label for="city" class="form-label text-muted">Город</label>
                        </div>
                        <div class="col-sm-9">
                            {{ form.city }}
                        </div>
                    </div>
                    <!-- services -->
                    <div class="row mt-4">
                        <div class="col-sm-3">
                            <div>Услуги</div>
                        </div>
                        <div class="col-sm-9">
                          {{ form.services }}
                        </div>
                    </div>
                    <!-- images -->
                    <div class="row mt-4">
                        <div class="col-sm-3">
                            <label for="files" class="form-label text-muted">Изображения</label>
                        </div>
                        <div class="col-sm-9">
                            {{ form.image }}
                        </div>
                    </div>
                    <!-- buttons -->
                    <div class="row justify-content-center mt-5">
                        <div class="col-md-5">
                            <a class="w-100 btn btn-secondary" href="{% url 'user-ads' %}">Отмена</a>
                        </div>
                        <div class="col-md-6 offset-md-1 mt-2 mt-md-0">
                            <input class="w-100 btn blue-button text-white" type="submit" value="{% block submit %}Сохранить{% endblock %}">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}